@font-face {
    font-family: 'poppins-medium';
    src: url('assets/fonts/Poppins-Medium.ttf') format('embedded-opentype'),
        url('assets/fonts/Poppins-Medium.ttf') format('woff2'),
        url('assets/fonts/Poppins-Medium.ttf') format('woff'),
        url('assets/fonts/Poppins-Medium.ttf') format('truetype'),
        url('assets/fonts/Poppins-Medium.ttf') format('svg');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('assets/fonts/Poppins-Bold.ttf') format('embedded-opentype'),
        url('assets/fonts/Poppins-Bold.ttf') format('woff2'),
        url('assets/fonts/Poppins-Bold.ttf') format('woff'),
        url('assets/fonts/Poppins-Bold.ttf') format('truetype'),
        url('assets/fonts/Poppins-Bold.ttf') format('svg');
}

@font-face {
    font-family: 'cairo-bold';
    src: url('assets/fonts/Cairo-Bold.ttf') format('embedded-opentype'),
        url('assets/fonts/Cairo-Bold.ttf') format('woff2'),
        url('assets/fonts/Cairo-Bold.ttf') format('woff'),
        url('assets/fonts/Cairo-Bold.ttf') format('truetype'),
        url('assets/fonts/Cairo-Bold.ttf') format('svg');
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    max-width: 1440px;
}

section {
    position: relative;
    padding: 0 1rem;
}

.inline-span {
    display: inline-block;
}

h3 {
    font-family: 'poppins-medium';
    color: #fff;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'poppins-medium';
    font-size: 0.95rem;
    line-height: 1.6;
}

h1 {
    font-family: 'poppins-bold';
    color: #5456A2;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

h2 {
    font-family: 'poppins-bold';
    color: #5456A2;
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.english {
    font-family: 'poppins-bold';
}

.arabic {
    font-family: 'cairo-bold';
    letter-spacing: -0.5px;
}