.join {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #5456A2;
    text-align: center;
}

.join h2 {
    color: white;
}

.doodle {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    height: 140px;
}

.alamak {
    width: 105vw;
    position: absolute;
    bottom: -9rem;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    margin-top: 2rem;
}

.user-cards .user-card {
    background-color: #fdf1e6;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    padding: 2rem 1.5rem;
    width: 320px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.user-cards .user-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.user-cards .user-card h3 {
    color: #5456A2;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.user-cards .user-card h3 span {
    font-weight: 700;
    font-size: 1.2rem;
}

.user-cards .user-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.user-cards .user-card p {
    color: #222;
}

@media (max-width: 768px) {
    .user-cards {
        flex-direction: column;
        align-items: center;
    }
}