@font-face {
    font-family: 'ArefRuqaa';
    src: url('fonts/ArefRuqaa-Regular.ttf') format('embedded-opentype'),
        url('fonts/ArefRuqaa-Regular.ttf') format('woff2'),
        url('fonts/ArefRuqaa-Regular.ttf') format('woff'),
        url('fonts/ArefRuqaa-Regular.ttf') format('truetype'),
        url('fonts/ArefRuqaa-Regular.ttf') format('svg');
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF1E3;
    text-align: center;
}

h2 {
    font-size: 3rem;
    color: #4D4ABE;
}

p {
    color: #0B1215;
    text-align: left;
    margin: 0;
    margin-top: 0.5rem;
}

.socials a img {
    width: 24px;
    aspect-ratio: 1/1;
}

.heading-links a img {
    width: 24px;
    aspect-ratio: 1/1;
    filter: invert(1) brightness(1000%);
}

section {
    padding: 1rem 5rem;
    display: flex;
    position: relative;
    z-index: 1;
}

.flag {
    position: absolute;
    top: -10rem;
    right: -15rem;
    width: 40vw;
    height: auto;
    opacity: 20%;
    z-index: -1;
}

#landing {
    background: linear-gradient(to bottom,
            #5D53B7 0%,
            #6C63BC 20%,
            #7C73C2 40%,
            #8B82C7 60%,
            #9B92CD 80%,
            #ABA2D2 90%,
            #FFF1E3 100%
            );
    flex-direction: column;
}

.landing-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.heading-logo img {
    width: 40px;
    aspect-ratio: 1/1;
}

.text-logo img {
    width: 250px;
    height: auto;
}

.heading-links {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.heading-links a {
    padding: 0;
    margin: 0;

}

.heading-links a img {
    width: 36px;
    aspect-ratio: 1/1;
}

.landing-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.slogan-logo {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.slogans {
    color: #FDB166;
    font-size: 35px;
}

.arabic {
    color: #FDB166;
    font-size: 35px;
    font-family: "ArefRuqaa";
}

.heading-contact-btn {
    background-color: white;
    border: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0.5rem 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 36px;
}


#categories {
    flex-direction: column;
}

.slogan-img {
    position: absolute;
    left: 1rem;
    top: -15rem;
    width: 40vw;
}

#about,
#shoppers {
    flex-direction: row;
}

#vendors,
#mission {
    flex-direction: row-reverse;
}

.landing-text {
    display: flex;
    flex-direction: column;
    width: 60%
}

.name-logo {
    width: 100%;
}

.name-logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.bold-text {
    font-weight: bold;
}

.downloaders {
    width: 100%;
    max-width: 544px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
    background-color: white;
    border-radius: 8px;
    padding: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
}

.downloaders-logo-and-text {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.downloaders-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.downloaders a {
    line-height: 0;
}

.downloaders p {
    padding: 0;
    margin: 0;
}

.logo {
    width: 36px;
    height: 36px;
    aspect-ratio: 1/1;
}

.store {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.sell-points {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
}

.sell-point {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
}

.sell-point img {
    width: 36px;
    aspect-ratio: 1/1;
}

.landing-image {
    width: 100%;
}

.landing-image img {
    max-width: 100%;
}

/* .landing-image img {
    position: absolute;
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.landing-image img:first-child {
    top: 0;
    right: 0;
    z-index: 2;
}

.landing-image img:last-child {
    top: 20px;
    right: 5rem;
    z-index: 1;
    opacity: 0.9;
} */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

footer .logo {
    width: 36px;
    aspect-ratio: 1/1;
    padding-bottom: 0.5rem;
}

.logo img {
    width: 100%;
}


@media (max-width: 768px) {
    section {
        flex-direction: column;
        padding-top: 2.5rem;
        padding-right: 2.5rem;
        padding-left: 2.5rem;
        padding-bottom: 0;
    }

    #landing,
    #categories,
    #about,
    #shoppers,
    #vendors,
    #mission,
    #landing {
        flex-direction: column;
        gap: 2rem;
    }

    .heading-logo img {
        width: 24px;
        aspect-ratio: 1/1;
    }

    .heading-contact-btn {
        height: 24px;
    }

    .heading-links a img {
        width: 24px;
        aspect-ratio: 1/1;
    }

    .landing-body {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .landing-text {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .downloaders {
        max-width: 60vw;
        flex-direction: column;
        border-radius: 24px;
        margin-top: 2rem;
    }

    .downloaders-logo-and-text {
        flex-direction: column;
        gap: 1rem;
    }

    .downloaders-links {
        display: flex; /* Ensure it only takes necessary width */
        flex-direction: row;
        align-items: center; /* Adjust alignment */
        justify-content: center;
        gap: 1rem; /* Add spacing between store links */
        width: fit-content; /* Prevent it from taking excessive width */
    }

    .slogan-img {
        top: -0.1rem;
    }

    .image img {
        max-width: 70vw;
    }

    .flag {
        width: 80vw;
        top: -3rem;
        right: -4rem;
    }
}