.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-logo img, .nav-links a img {
    height: 24px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-links a img {
    filter: invert(1) brightness(1000%);
}